{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Étudiants</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Liste des Étudiants</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for etudiant in etudiants %}
                <tr>
                    <td>{{ etudiant.id }}</td>
                    <td>{{ etudiant.nom }}</td>
                    <td>{{ etudiant.email }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Aucun étudiant trouvé.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'Formapp:ajouter_etudiant' %}">Ajouter un Étudiant</a>
    </div>
</body>
</html>